.count span{
    font-size: 20pt;
}

.line{
    background-color: #E8C21D;
    height: 3px;
    width: 30%;
}

.line-2{
    background-color: #E8C21D;
    height: 2px;
    width: 50px;
}

.line-3{
    background-color: #E8C21D;
    height: 2px;
    width: 35px;
}

.mitra-1
{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.mitra-2{
    /* margin-right: 30vh; */
    justify-content: center;
}

.button-1{
    background-color: #061755;
    border-radius: 50px;
    width: 230px;
    color: white;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-bottom: 5px;
}

/* Extra Small Devices (Portrait Phones) */
@media (max-width: 576px) {
    /* CSS styles for extra small devices */
    #footer{
        margin-left: 0 !important;
    }

    #main-footer{
        max-width: 100%;
        margin: 0;
    }

    footer .logo-home{
        font-size: 80pt;
        color: black;
    }

    footer #footer-content{
        margin-bottom: 0;
    }

    #count-mitra{
        width: 90% !important;
    }

    #count-mitra2{
        width: 90%;
    }

    .container-content{
        margin-left: 10px !important;
    }
  }

  /* Small Devices (Landscape Phones) */
  @media (min-width: 576px) and (max-width: 767px) {
    /* CSS styles for small devices */
    footer{
        margin-left: 0;
    }

    #main-footer{
        max-width: 100%;
        margin: 0;
    }

    footer .logo-home{
        font-size: 80pt;
        color: black;
    }

    .container-content{
        margin-left: 10px !important;
    }
  }

  /* Medium Devices (Tablets) */
  @media (min-width: 768px) and (max-width: 991px) {

    #main-footer{
        max-width: 100%;
        margin-left: 50px;
    }

    .container-content{
        margin-left: 10px !important;
    }
  }
