*{
    padding: 0;
    margin: 0;
}


.main-sidebar{
    font-family: Poppins;
    display: flex;
    min-height: 100vh;
    position: fixed;
    top: 50px;
}

.sidebar{
    background-color: #061755;
    width: 200px;
    padding: 15px 10px 0 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 100vh;
    transition: all ease-in .3s;
    position: fixed;
}

.sidebar.hide{
    width: 45px;
    transition: all ease-out .3s;
}

.list-item a{
    text-decoration: none;
}

.description {
    font-size: 10pt;
}

.main a {
    padding-bottom: 15px;
    text-decoration: none;
}

.main span{
    font-size: 11pt;
    position: fixed;
}

.sidebar.hide span{
    display: none;
}

.main i{
    vertical-align: middle;
}

/* .main a:hover{
    transition: all ease-in 2s;
} */

/* toogle menu */

#menu-button{
    width: 25px;
    position: absolute;
    overflow: hidden;
    margin-left: 12%;
}

#menu-label{
    position: relative;
    display: block;
    height: 25px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#hamburger, #menu-label:after, #menu-label:before{
    background-color: black;
    position:absolute;
    left: 0;
    width: 100%;
    height: 3px;
}

#menu-label:after, #menu-label:before{
    content: "";
    transform: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menu-label:before{
    top: 0;
}

#menu-label:after{
    top: 6px;
}

#hamburger{
    top: 12px;
}

#hamburger:before{
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: black;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label::before{
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after{
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before{
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
    0%{
        top: 0;
    }
    50%{
        top: -16px;
    }
    100%{
        top: -14px;
    }
}

@keyframes shake{
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0);
    }
    75% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakedown{
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

/* Extra Small Devices (Portrait Phones) */
@media (max-width: 576px) {
    /* CSS styles for extra small devices */
    .navbar{
        max-width: 100%;
    }

    .navbar .container{
        margin: 0 10px 0 5px;
        max-width: 100%;
        justify-content: flex-start;
    }

    #menu-button{
        margin-left: 130px;
    }

    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw; /* to cover the whole screen */
        height: 100vh;
        padding: 15px 10px 0 10px;  /* to override the default padding */
        background: rgba(0,0,0, .5); /* half transparent background */
        display: none;
        z-index: 99999; /* to be on top of any other elements */
    }

    .sidebar.visible {
        display: block;
        }

    .sidebar.hide{
        display: hidden;
        width: -5px;
        /* transition: all ease-out .3s; */
    }
        /*cover the whole screen and to detect user click on background */

    .sidebar .blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    }

    .sidebar .main {
    position: absolute;
    top: 0;
    left: 0;
    background: #061755;
    height: 100%;
    width: 200px;
    left: -50%;   /* will be animated to left: 0, by animation */
    animation: slide 0.5s forwards;
    }

    .sidebar .list-item{
    margin-top: 83px;
    padding-left: 10px;
    }

    @keyframes slide {
    100% { left: 0; }
    }
  }

/* Small Devices (Landscape Phones) */
@media (min-width: 576px) and (max-width: 768px) {
    .navbar{
        max-width: 100%;
    }

    .navbar .container{
        margin: 0 10px 0 5px;
        max-width: 100%;
        justify-content: flex-start;
    }

    #menu-button{
        margin-left: 125px;
    }

    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw; /* to cover the whole screen */
        height: 100vh;
        padding: 15px 10px 0 10px;  /* to override the default padding */
        background: rgba(0,0,0, .5); /* half transparent background */
        display: none;
        z-index: 99999; /* to be on top of any other elements */
    }

    .sidebar.visible {
        display: block;
        }

    .sidebar.hide{
        display: hidden;
        width: -5px;
        /* transition: all ease-out .3s; */
    }
        /*cover the whole screen and to detect user click on background */

    .sidebar .blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    }

    .sidebar .main {
    position: absolute;
    top: 0;
    left: 0;
    background: #061755;
    height: 100%;
    width: 200px;
    left: -50%;   /* will be animated to left: 0, by animation */
    animation: slide 0.5s forwards;
    }

    .sidebar .list-item{
    margin-top: 83px;
    padding-left: 10px;
    }

    @keyframes slide {
    100% { left: 0; }
    }


}

@media (min-width: 768px) and (max-width: 992px) {

    .navbar{
        max-width: 100%;
    }

    .navbar .container{
        margin: 0 10px 0 5px;
        max-width: 100%;
        justify-content: flex-start;
    }

    #menu-button{
        margin-left: 125px;
    }
}

